pre {
    background-color:  #990000;
    color: black;
    padding: 20px;
    padding-top: 5px;
    margin: 0px;
    text-align: left;
    font-size: 12px;
    text-decoration: none;
    overflow: hidden;
    -webkit-text-size-adjust: 100%
}

.opt, .opt-spe {
    background-color: #FF6600;
    color: #000;
    border-bottom: 1px solid black;
    padding: 4px;
    padding-left: 6px;
    text-align: left
}

.opt-spe {
    border-top: 2px solid black;
    border-bottom: 2px solid black
}
.opt-bottom {
    background-color: #999;
    color: #000;
    border-bottom: 1px solid black;
    padding: 4px;
    padding-left: 6px;
    text-align: left
}
